@model IEnumerable<CurrencyData.Model.ExchangeRate>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeBuying)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeSelling)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveBuying)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveSelling)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeBuying)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeSelling)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EffectiveBuying)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EffectiveSelling)
        </td>

    </tr>
}

</table>
